  #draggable0 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable1 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable2 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable3 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable4 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable5 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable6 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable7 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable8 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable9 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable10 { width: 200px; height: 200px; position: absolute; background: none; border:none;  }
  #draggable11 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable12 { width: 400px; height: 50px; position: absolute; background-color: yellow; border:none; }
  #draggable13 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable14 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable15 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable16 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable17 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable18 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable19 { width: 200px; height: 200px; position: absolute; background: none; border:none; }
  #draggable20 { width: 200px; height: 200px; position: absolute; background: none; border:none;  }

 body{
    cursor: url("../img/cursors/cursor1.png"), auto;
    background-image: linear-gradient(to bottom right, lightblue, pink); 
    height: 100vh;
  }

.boxImg {
  position: relative;
  width: 100%;
}

/*LETTER*/

#closeButton {
  width: 30px;
  height: 30px;
  z-index: 10;
  top: 0px;
  position: relative;
  float: right;
  font-size: 25px;
}

.letterBox {
  border: 3px solid pink;
  display: inline-block;
  padding: 20px;
  width: 500px;
  z-index: 10;
  left: 50vw;
  top: 290px;
  margin-left:-270px;
  position: absolute;
  background-color: yellow;
}

.letterContents {
  width: 90%;
  position: relative;
}

/*MAIN CONTAINER*/

#container {
	display: grid;
	grid-template-columns: 75px 1fr 75px;
	grid-template-rows: 75px 1fr 75px;
	grid-gap: 1em 1em;
	height: 100vh;
}

/*MARQUEES*/

#northMarquee {
	grid-area: 1 / 2 / 2 / 3;
	/*background-color: yellow;*/
}

#northMarquee span{
  animation: northMarquee 8s linear infinite;
}

@keyframes northMarquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}

#eastMarquee {
	grid-area: 2 / 3 / 3 / 4;
	/*background-color: yellow;*/
}

#eastMarquee span{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: left top 0;
  left: 20px;
  animation: eastMarquee 8s linear infinite;
}

@keyframes eastMarquee {
  0%   { bottom: -100%; }
  100% { bottom: 100%; }
}

#southMarquee {
	grid-area: 3 / 2 / 4 / 3;
	/*background-color: yellow;*/
}

#southMarquee span{
  animation: southMarquee 8s linear infinite;
}

@keyframes southMarquee {
  0%   { right: 100%; }
  100% { right: -100%; }
}

#westMarquee {
	grid-area: 2 / 1 / 3 / 2;
	/*background-color: yellow;*/
}

#westMarquee span{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: left top 0;
  animation: westMarquee 8s linear infinite;
}

@keyframes westMarquee {
  0%   { bottom: 50%; }
  100% { bottom: -100%; }
}


.marquee {
  font-size: 3vh;
  font-style: bold;
  color: red;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
    background-image: linear-gradient(lightblue, pink); 
}

.marquee:hover {
  color: yellow;
}

.marquee span {
  display: inline-block;
  position: relative;
}


/*CORNERS*/

#topLeft {
	grid-area: 1 / 1 / 2 / 2;
}

#topRight {
	grid-area: 1 / 3 / 2 / 4;
}

#bottomRight {
	grid-area: 3 / 3 / 4 / 4;
}

#bottomLeft {
	grid-area: 3 / 1 / 4 / 2;
}

#centralPanel {
	grid-area: 2 / 2 / 3 / 3;
}

.flag {
  position: relative;
  width: 120%;
}


/*HEARTS*/

.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
 }

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}

@keyframes love {
  0%{top:110%}
}
